<div id="section">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form ng-submit="updateCtrl.processForm()">
            <h2>Article Topic Tagger  <small> Update library content.</small></h2>
            <hr class="colorgraph">
            <div class="form-group">
                <input type="text" ng-model="updateCtrl.formData.title" name="title" id="title" class="form-control input-sl" placeholder="Title" tabindex="3">
            </div>
            <div class="form-group">
                <select class="form-control input-sl" ng-model="updateCtrl.formData.category.categoryID" name="category_id" id="category_id">
                    <option value="1">Article</option>
                    <option value="2">Presentation</option>
                    <option value="3">Video</option>
                    <option value="4">Webinar</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" ng-model="updateCtrl.formData.content.presenter" name="presenter" id="presenter" class="form-control input-sl" placeholder="Presenter" tabindex="3">
            </div>
            <div class="form-group">
                <input type="text" ng-model="updateCtrl.formData.publishedDate" name="publishedDate" id="publishedDate" class="form-control input-sl" placeholder="Published Date" tabindex="3">
            </div>
            <div class="form-group">
                <input type="text" ng-model="updateCtrl.formData.content.level" name="level" id="level" class="form-control input-sl" placeholder="Level" tabindex="3">
            </div>
            <div class="form-group">
                <input type="text" ng-model="updateCtrl.formData.content.reads" name="reads" id="reads" class="form-control input-sl" placeholder="Reads" tabindex="3">
            </div>
            <div class="form-group">
                <input type="text" ng-model="updateCtrl.formData.url" name="url" id="url" class="form-control input-sl" placeholder="URL" tabindex="3">
            </div>
            <div class="form-group">
                <input type="text" ng-model="updateCtrl.formData.tag_id" name="tag_id" id="tag_id" class="form-control input-sl" placeholder="Tags" tabindex="3">
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <input class="btn btn-sl btn-primary" type="submit" id="submit" value="Update"/>

                    <input class="btn btn-sl btn-primary" type="reset" value="Cancel" ng-click="updateCtrl.cancel()"/>

                    <input class="btn btn-sl btn-primary" type="button" value="Delete" ng-click="updateCtrl.deleteLibrary()"/>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">

                </div>
            </div>
        </form>
    </div>
</div>