<div id="section">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form ng-controller="AddController as addCtrl" ng-submit="addCtrl.processForm()">
            <h2>Article Topic Tagger  <small> Add new library content.</small></h2>
            <hr class="colorgraph">
            <div class="form-group">
                <input type="text" ng-model="addCtrl.formData.title" name="title" id="title" class="form-control input-sl" placeholder="Title" tabindex="3">
            </div>
            <div class="form-group">
                <select class="form-control input-sl" ng-model="addCtrl.formData.category_id" name="category_id" id="category_id">
                    <option value="1">Article</option>
                    <option value="2">Presentation</option>
                    <option value="3">Video</option>
                    <option value="4">Webinar</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" ng-model="addCtrl.formData.presenter" name="presenter" id="presenter" class="form-control input-sl" placeholder="Presenter" tabindex="3">
            </div>
            <div class="form-group">
                <input type="text" ng-model="addCtrl.formData.published_date" name="published_date" id="published_date" class="form-control input-sl" placeholder="Published Date" tabindex="3">
            </div>
            <div class="form-group">
                <input type="text" ng-model="addCtrl.formData.level" name="level" id="level" class="form-control input-sl" placeholder="Level" tabindex="3">
            </div>
            <div class="form-group">
                <input type="text" ng-model="addCtrl.formData.reads" name="reads" id="reads" class="form-control input-sl" placeholder="Reads" tabindex="3">
            </div>
            <div class="form-group">
                <input type="text" ng-model="addCtrl.formData.url" name="url" id="url" class="form-control input-sl" placeholder="URL" tabindex="3">
            </div>
            <div class="form-group">
                <input type="text" ng-model="addCtrl.formData.tag_id" name="tag_id" id="tag_id" class="form-control input-sl" placeholder="Tags" tabindex="3">
            </div>
            <div class="row">
                <div class="btn-group">

                        <input class="btn btn-sl btn-primary" type="submit" id="submit" value="Add"/>
                        <input class="btn btn-sl btn-block" type="reset" value="Cancel"/>


                </div>
            </div>
        </form>
    </div>
</div>