<style>
body{

}
#topic {
padding-left:500px;

}
#header {
    background-color:black ;
    color:white;
    text-align:center;
    padding:5px;
}

#section {
 line-height:30px;
    width:350px;
    float:left;
     height:700px;
    padding:10px;
}

#combine{
 margin-left: 410px;
}

#changecontent
{

    width:500px;
    height:550px;

}




#login
{

    width:300px;

    margin-bottom: 410px;



}
#footer {
    background-color:black ;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
</style>